<div class="employee-list col-lg-3 col-md-3 col-sm-2 col-xs-12">
	<ul class="admin-action nav nav-pills nav-stacked">
		<li><a class="btn btn-success btn-block" href="/admin/employee/add" data-bind="click: createEmployee">Add Employee</a></li>
	</ul>
	<ul class="admin-action nav nav-pills nav-stacked" data-bind="foreach: employeeList">
		<li><a href="/admin/employee/edit/" data-bind="text: displayName, click: $root.selectEmployee"></a></li>
	</ul>
</div>