<div class="employee-list col-lg-3 col-md-3 col-sm-2 col-xs-12">
	<ul class="admin-action nav nav-pills nav-stacked">
		<li><a class="btn btn-success btn-block" href="/admin/employee/add">Add Employee</a></li>
		{{#each this}}
		<li><a href="/admin/employee/edit/{{slug}}">{{firstName}} {{lastName}}</a></li>
		{{/each}}
	</ul>
</div>