<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DSP - Admin</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(assets) /styles/screen.css -->
        <link rel="stylesheet" href="/styles/style.css">
        <!-- endbuild -->
    </head>
    <body id="admin-page">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="/" class="brand navbar-brand">
							<img src="/logo-nurun.svg" alt="Nurun logo" onerror="this.onerror=null; this.src='/logo-nurun.png'" />
						</a>
					</div>
					
					<ul class="nav navbar-nav">
						<li class="active"><a href="/admin/employee">Manage Employee <span class="sr-only">(current)</span></a></li>
						<li><a href="/admin/desks">Manage Desks</a></li>
					</ul>
				</div>
			</nav>

        {{{ body }}}

        <!-- build:js(assets) /scripts/admin.js -->
        <script type="text/javascript" src="/scripts/admin.js"></script>
        <!-- endbuild -->

    </body>
</html>