<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DSP - Maps</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(assets) /styles/screen.css -->
        <link rel="stylesheet" href="/styles/style.css">
        <!-- endbuild -->
    </head>
    <body id="map-page">
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="container-fluid">						
					<div class="header-area row">
						
						<div class="brand-area col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<a href="/" class="brand">
								<img src="/logo-nurun.svg" alt="Nurun logo" onerror="this.onerror=null; this.src='/logo-nurun.png'" />
							</a>
						</div>
						
						<div class="search-area col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="input-group">
								<input type="text" class="form-control" id="search-term" name="search-term" placeholder="Enter a name, role, or client project" value="{{searchTerm}}">
								<span class="input-group-btn">
									<button type="submit" class="find-seat btn btn-success">Find Them</button>
								</span>
							</div>
						</div>
						
						<div class="side-area col-lg-3 col-md-3 col-sm-3 col-xs-12">
						{{#if searchTerm}}
						<a href="/seats/browse">Explore Nurun</a>
						{{/if}}
						</div>
						
					</div>
        </header>

        {{{ body }}}

        <!-- build:js(assets) /scripts/main.js -->
        <script type="text/javascript" src="/scripts/main.js"></script>
        <!-- endbuild -->

    </body>
</html>