<div class="container-fluid">

	<div class="brand-area row">
		<div class="col-lg-offset-4 colcol-lg-4 col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
			<a href="#" class="brand">
				<img src="logo-nurun.svg" alt="Nurun logo" onerror="this.onerror=null; this.src='logo-nurun.png'" />
			</a>
		</div>
	</div>

	<div class="search-area row">
		<div class="col-lg-offset-2 colcol-lg-8 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-12">
			<p class="tagline">Where does that guy sit?</p>
			<div class="input-group">
				<input type="text" class="form-control input-lg" id="search-term" name="search-term" placeholder="Enter a name, role, or client project">
				<span class="input-group-btn">
					<button class="find-seat btn btn-success btn-lg">Find Them</button>
				</span>
			</div>
			<p class="bottom-notes">Just want to explore the Nurun office? <a class="btn btn-default btn-xs" href="/seats/browse/9">9th Floor</a> <a class="btn btn-default btn-xs" href="/seats/browse/8">8th Floor</a></p>
		</div>
	</div>
</div>