<div class="seats-search container-fluid">
	<div class="results-headers row">
		<div class="results-label col-lg-3 col-md-3 col-sm-2 col-xs-12">
			results count
		</div>
		<div class="results-filters col-lg-9 col-md-9 col-sm-10 col-xs-12">
			filters
		</div>
	</div><!-- /div.results-headers -->
	<div class="results-mapping row">
		<div class="results-list col-lg-3 col-md-3 col-sm-2 col-xs-12">
			people list
		</div>
		<div id="seats-map" class="col-lg-9 col-md-9 col-sm-10 col-xs-12">
			seat-map
		</div>
	</div><!-- /div.results-mapping -->
</div>